html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #eee;
}

.card-container {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100%;
    max-width: 500px; /* Set a max width to keep the swiper centered */
    height: auto;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background: rgba( 68, 174, 245, 0.5 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: transform 0.5s ease; /* Smooth transition for responsive resizing */
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    padding: 20px;
    box-sizing: border-box;
}

.card-image {
    width: 100%;
    max-width: 140px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.card-details {
    padding: 10px;
}

.card-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.card-role {
    font-size: 1.25rem;
    margin: 5px 0;
}

.card-link {
    color: #000;
    text-decoration: underline;
}

.card-description {
    font-size: 1rem;
    margin: 10px 0 0;
}

/* Code of Responsiveness */

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    .swiper {
        max-width: 600px;
    }
}

/* Medium devices (tablets, 768px to 1199px) */
@media (max-width: 1199px) {
    .swiper {
        max-width: 500px;
    }
    .card-image {
        max-width: 120px;
    }
    .card-name, .card-role, .card-description {
        font-size: 1.25rem;
    }
}

/* Small devices (mobiles, 767px and below) */
@media (max-width: 767px) {
    .swiper {
        max-width: 400px;
    }
    .card-image {
        max-width: 100px;
    }
    .card-name, .card-role, .card-description {
        font-size: 1rem;
    }
}

/* Extra Small devices (mobile, 480px and below) */
@media (max-width: 480px) {
    .swiper {
        max-width: 300px;
    }
    .card-image {
        max-width: 80px;
    }
    .card-name, .card-role, .card-description {
        font-size: 0.875rem;
    }
}

.cont{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
}